<div class="mx-5 flex-grow  gap-x-8 gap-y-4 items-center justify-center py-10  ">
<div class=" mx-12  rounded-lg bg-white dark:bg-gray-800 shadow-lg px-5 py-4 text-gray-800 dark:text-gray-50 mt-10">
    <div class="w-full pt-1 text-center -mt-16 mx-auto">
          <%=image_tag "avatar.png", class:"mx-auto object-cover rounded-full h-20 w-20 " %>
    </div>
    <div class=" ">
        <div class="text-center mb-6 ">
            <p class="text-gray-800 dark:text-white text-xl font-medium">
               <%= @user.name %>
            </p>
            <p class="text-gray-400 text-xs">
               <%= @user.email %>
            </p>
       </div>
    </div>
    <div class="">
         <h4 class="text-xl font-semibold">My courses:</h4>
            <div class="shadow-lg rounded-2xl p-4 bg-white dark:bg-gray-800">   
              <div class="flex flex-col ">
                <h6 class="font-semibold">Cours name</h6>
                <p class=" text-sm">Description</p>
                <h6 class=" text-xs font-semibold ">Progretion:</h6>
                    <div class="relative  h-2 bg-gray-200 rounded mt-3">
                        <div class="absolute top-0 h-2  left-0 rounded bg-green-500 <%= "w-"+ rand(5).to_s + "/5"%>">
                        </div>
                    </div>
                </div>
              </div>
            <div class="mt-12 text-center">
        <% if current_user == @user %>
        <%= link_to "Edit profile", edit_user_path(@user), class: " mx-12 text-center place-self-center py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200  text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg " %>
        <% end %>
    </div>
     </div>
</div>

</div>