<p id="notice"><%= notice %></p>
<h2 class=" text-4xl tracking-tight font-extrabold  sm:text-5xl md:text-6xl text-center mt-5 subpixel-antialiased">All Courses</h2>
<div class="mx-5 flex-grow lg:mx-11 grid grid-cols-1 sm:grid-cols-3 gap-x-8 gap-y-4 items-center justify-center py-10">
<% @courses.each do |course| %>
  <div class="bg-white  space-y-3 px-6 py-4 rounded-3xl shadow-lg border flex flex-col">
    
    <div class="flex justify-between items-center">
      <h3 class="font-semibold text-xl"><%= course.short_name %>: <%= link_to course.name, course_path(course) %></h3>
    </div>
    
    <div class="text-gray-600 font-light truncate "><%= course.description %></div>
    <ul class="flex space-x-2">
      <li class="bg-blue-400 text-white text-md px-4 rounded-3xl">Enrolle</li>
      <li class="bg-yellow-400 text-white text-md px-4 rounded-3xl">Info</li>
    </ul>
  </div>

 <% end %>

 
  
  
 
</div>







  <%#<tbody>
    <% @courses.each do |course| %>
     <%# <tr>
        <td><%= course.short_name %></td>
       <%# <td><%= course.name %></td>
       <%# <td><%= course.description %></td>
       <%# <td><%= link_to 'Show', course %></td>
       <%#<td><%= link_to 'Edit', edit_course_path(course) %></td>
       <%# <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
   <%#   </tr>
    <% end %>
 <%# </tbody>
</table>% %>

<br>

<%= link_to 'New Course', new_course_path %>
